{% extends 'story.tmpl' %}
{% block extra_js %}
<script src="/assets/js/jquery.cycle.all.js" type="text/javascript"></script>
<script type="text/javascript">
$('.slide-right').cycle({ 
    fx:    'scrollRight', 
    delay: -8000 
});
</script>
{% endblock %}
